<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tsar_server_metric</title>
    <link href="${rc.contextPath}/assets/lib/amazeui.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/assets/lib/amazeui.datatables.min.css" rel="stylesheet">
</head>

<body>
    <div class="">
        <h2 style="text-align: center">服务器集群状态看板</h2>
    </div>
    <ul class="am-avg-sm-2 am-thumbnails  am-center" style="width:90%;">
        <#list iplist as ip>
            <li>
                <div class="am-panel am-panel-default  am-scrollable-vertical"  style="height:500px;" >
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">服务器:${ip}</h3>
                    </div>
                    <table class="am-table am-table-bordered am-table-striped am-table-compact  "  id="tt-${ip}"   >
                        <thead>
                            <tr>
                                <th>time</th>
                                <th>cpu</th>
                                <th>mem</th>
                                <th>tcp_retran</th>
                                <th>traffic_in</th>
                                <th>traffic_out</th>
                                <th>io_sda</th>
                                <th>load_rate</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <p></p>
                </div>
            </li>
        </#list>
    </ul>
    <script src="${rc.contextPath}/assets/lib/jquery.min.js"></script>
    <script src="${rc.contextPath}/assets/lib/sockjs.min.js"></script>
    <script src="${rc.contextPath}/assets/lib/amazeui.min.js"></script>
    <script src="${rc.contextPath}/assets/lib/amazeui.datatables.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#example').DataTable();
    });

    function connect() {
        var target = '${rc.contextPath}/metric';
        var ws = new SockJS(target);
        ws.onopen = function() {
            console.log('Info: WebSocket connection opened.');
        };
        ws.onmessage = function(event) {
            //	console.log('Received: ' + event.data);
            append(event.data);
        };
        ws.onclose = function() {
            console.log('Info: WebSocket connection closed.');
        };
    }
    connect();

    function append(data) {
        var message = JSON.parse(data);
        for (var i = 0, l = message.length; i < l; i++) {
            var metric = message[i];
            app2data(metric);
        }

    }

    function app2data(metric) {
        var dest_url = metric.dest_url;
        var time = metric.time;
        var cpu = metric.cpu;
        var mem = metric.mem;
        var tcp_retran = metric.tcp_retran;
        var traffic_in = metric.traffic_in;
        var traffic_out = metric.traffic_out;
        var io_sda = metric.io_sda;
        var load_rate = metric.load_rate;
        var td_html = "<tr>" + "<td>" + time + "</td>" + "<td>" + cpu + "%</td>" + "<td>" + mem + "%</td>" + "<td>" + tcp_retran + "%</td>" + "<td>" + traffic_in + "</td>" + "<td>" + traffic_out + "</td>" + "<td>" + io_sda + "%</td>" + "<td>" + load_rate + "%</td>" + "</tr>";
        append3date(dest_url, td_html);

    }

    function append3date(dest_url, td_html) {
        $("table[id^='tt-']").each(function() {
            var id_ip = $(this).attr("id");
            var ip = id_ip.substring(3, id_ip.length);
           // console.log("ip:" + ip);
            var reg = new RegExp("\\.", "g"); //g,表示全部替
            var durl = dest_url.replace(reg, "_");
          //  console.log("durl:" + durl);
            var flag = durl.indexOf(ip) > -1;
          //   console.log("flag:"+flag+"---------ip:"+ip+"---------dest_url:"+dest_url+"-----------td_html:"+td_html);
            if (flag) {
            	appendAnddeleteRow(id_ip,td_html);
            }
        });
    }
      
    function  appendAnddeleteRow(id_ip,td_html) {
    	//console.log(id_ip);
    	var ip_size = $('#' + id_ip  +' tr').length;
    	if(ip_size>=12) {
    		//$('#' + id_ip +' tr:not(:last)').remove(); 
    		$('#' + id_ip +' tr:not(:first):lt(10)').remove();
    	}
    	//console.log(ip_size);
    	 $('#' + id_ip).append(td_html);
    }
    </script>
</body>

</html>
